/* Syntax Demon: Token Styles */

:root {

	--sd-background: #f5f5f7;

	--sd-keyword: #7c3aed;

	/* #107636 */
	--sd-string: #107636;
	--sd-flag: #107636;

	/* #195aea */
	--sd-function: #195aea;
	--sd-property: #195aea;
	--sd-command: #195aea;

	/* #c82020 */
	--sd-tag: #c82020;
	--sd-selector: #c82020;

	/* #b24309 */
	--sd-number: #b24309;
	--sd-entity: #b24309;

	/* #9b5504 */
	--sd-attribute: #9b5504;
	--sd-path: #9b5504;

	--sd-operator: #06708a;

	--sd-builtin: #c22068;

	--sd-variable: #1f2937;

	/* #616774 */
	--sd-comment: #616774;
	--sd-punctuation: #616774;
	--sd-doctype: #616774;

}

@media (prefers-color-scheme: dark) {

	:root {

		--sd-background: #1e1e2e;

		--sd-keyword: #cba6f7;

		/* #a6e3a1 */
		--sd-string: #a6e3a1;
		--sd-flag: #a6e3a1;

		/* #89b4fa */
		--sd-function: #89b4fa;
		--sd-property: #89b4fa;
		--sd-command: #89b4fa;

		/* #f38ba8 */
		--sd-tag: #f38ba8;
		--sd-selector: #f38ba8;

		/* #fab387 */
		--sd-number: #fab387;
		--sd-entity: #fab387;

		/* #f9e2af */
		--sd-attribute: #f9e2af;
		--sd-path: #f9e2af;

		--sd-operator: #89dceb;

		--sd-builtin: #f5c2e7;

		--sd-variable: #cdd6f4;

		/* #8c91a6 */
		--sd-comment: #8c91a6;
		--sd-punctuation: #8c91a6;
		--sd-doctype: #8c91a6;

	}

}

::highlight(keyword) {
	color: var(--sd-keyword);
}

::highlight(string) {
	color: var(--sd-string);
}

::highlight(comment) {
	color: var(--sd-comment);
}

::highlight(number) {
	color: var(--sd-number);
}

::highlight(function) {
	color: var(--sd-function);
}

::highlight(operator) {
	color: var(--sd-operator);
}

::highlight(tag) {
	color: var(--sd-tag);
}

::highlight(attribute) {
	color: var(--sd-attribute);
}

::highlight(punctuation) {
	color: var(--sd-punctuation);
}

::highlight(property) {
	color: var(--sd-property);
}

::highlight(selector) {
	color: var(--sd-selector);
}

::highlight(builtin) {
	color: var(--sd-builtin);
}

::highlight(doctype) {
	color: var(--sd-doctype);
}

::highlight(entity) {
	color: var(--sd-entity);
}

::highlight(variable) {
	color: var(--sd-variable);
}

::highlight(flag) {
	color: var(--sd-flag);
}

::highlight(path) {
	color: var(--sd-path);
}

::highlight(command) {
	color: var(--sd-command);
}
